Node-RED Flow/flow.json
[{"id":"ff0a100a.2a45","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70ea655d.a5014c","type":"ui_form","z":"ff0a100a.2a45","name":"","label":"","group":"36058ef0.e11442","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":300,"wires":[["5237ba0e.b55284"]]},{"id":"5237ba0e.b55284","type":"function","z":"ff0a100a.2a45","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["f254602.d8ff4a","86dbd58a.89ce48"]]},{"id":"b7419d3d.7ff25","type":"function","z":"ff0a100a.2a45","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["109877cc.1fc028"]]},{"id":"86dbd58a.89ce48","type":"watson-conversation-v1","z":"ff0a100a.2a45","name":"Customer Care","workspaceid":"6bcfe8cb-740a-4ac4-9e80-2f62d594e06e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e4a03c4f-fae3-4bed-a44d-2b998ca9de5d","timeout":"","optout-learning":false,"x":520,"y":120,"wires":[["b7419d3d.7ff25","286620e5.9acd6"]]},{"id":"f254602.d8ff4a","type":"ui_text","z":"ff0a100a.2a45","group":"36058ef0.e11442","order":2,"width":0,"height":0,"name":"","label":"You: ","format":"{{msg.payload}}","layout":"col-center","x":420,"y":320,"wires":[]},{"id":"286620e5.9acd6","type":"debug","z":"ff0a100a.2a45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":80,"wires":[]},{"id":"109877cc.1fc028","type":"ui_text","z":"ff0a100a.2a45","group":"36058ef0.e11442","order":3,"width":10,"height":7,"name":"","label":"Bot: ","format":"{{msg.payload}}","layout":"col-center","x":880,"y":300,"wires":[]},{"id":"36058ef0.e11442","type":"ui_group","z":"","name":"Chatbot","tab":"5c0e274e.0bc5f8","order":1,"disp":true,"width":10,"collapse":false},{"id":"5c0e274e.0bc5f8","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]
